@charset "utf-8";

/*banner*/
#banner{height: 205px;background: #a40615 url("../images/common/btm_banner.jpg") no-repeat center;color: #fff;}
#banner > div{height: 100%;justify-content: space-between;align-items: center;}
#banner > div > p{font-size: 14px;font-weight: 500;letter-spacing: 1.4px;border: 1px solid #fff;padding: 5px 12px;border-radius: 20px;}
#banner .txt_r{margin-right: 140px;}
#banner .txt_r p{font-size: 20px;letter-spacing: -1px;}
#banner .txt_r ul{margin-top: 15px;font-size: 30px;font-weight: 500;letter-spacing: -0.3px;}
#banner .txt_r ul li a{padding-right: 50px;margin-right: 62px;display: block;background: url("../images/icon/banner-arrow.png") no-repeat right center;}